body {
	font-family: 'PT Sans', sans-serif;
	background: linear-gradient(to bottom left, #00B1FF , #94DFFF);
	margin: 0;
	background-attachment: fixed;
	transform: scale(0.95);
	overflow: hidden;
}

/*Start of Landing Page*/

#landingcontainer {
	transform: translateY(20%);
}

#maintext {
	font-size: 136px;
	color:#FFFFFF;
}

#subtext {
	margin-top: -10px;
	font-size: 36px;
	color: #BFEAFD;
}

.icon {
	padding-top: 30px;
	text-align: center;
}

img {
	width: 265px;
}

.butt {
	margin-top: 30px;
	text-align: center;
}

#startbutton {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	width: 225px;
	height: 101px;
	background-color: transparent;
}

#startbutton:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

#startbutton:active {
	opacity: 0.6;
}

.text {
	margin-top: -30px;
	text-align: center;
}

@keyframes fadein {
	from {background-color: transparent;
		   color:#FFFFFF;}
	to {background-color: #BFEAFD;
		color:#00B1FF;}
}

/*End of Landing Page*/

/*Start of Basic Info Page*/
#basiccontainer {
	margin-top: -100px;
	margin-left: 50px;
	transform: scale(0.6);
}
.pagetitle { /*same for all pages w/ titles*/
	font-size: 36px;
	color:#BFEAFD;
}

.labels {
	margin-top: 20px;
	font-size: 64px;
	color: #FFFFFF;
}

.box {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 1091px;
	height: 90px;
	padding-left: 20px;
	font-size: 48px;
	color: #FFFFFF;
}

.majors {
	margin-top: 50px;
	margin-bottom: 80px;
}


textarea:focus, input:focus{
    outline: none;
}

.selectyear {
	display: inline-block;
	float: right;
	margin-right: 290px;
	margin-top: -80px;
	padding-bottom: 150px;
}

.options {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 650px;
	height: 90px;
	color: #BFEAFD;
	font-size: 48px;
	padding-left: 15px;
	list-style: none;
}



.photobuttons {
	display: inline-block;
	float:right;
	margin-right: 360px;
	margin-top: -85px;
}

#photos {
	display: inline-block;
}

.photoupload {
	margin-top: 80px
}

/*end of basic info page*/

/*start of food info page*/
#foodcontainer {
	margin-top: -70px;
	margin-left: 50px;
	transform: scale(0.6);
}

.hobby {
	margin-top: 50px;
	margin-bottom: 60px;
}

.mood {
	padding-top: 50px;
}

.foodoptions {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 500px;
	height: 90px;
	color: #BFEAFD;
	font-size: 48px;
	list-style: none;
	margin-left: 30px;
}

/*end of food info page*/

/*start of photo page*/
#photocontainer {
	/*margin-top: -100px;*/
	margin: 100px;
	margin-top: 20px;
	transform: scale(0.6);
}

.preview {
	text-align: center;
}

.content {
	margin-top: 60px;
	margin-left: 100px;
}

.upload {
	margin-top: 50px;
	margin-left: -70px;
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	color: #BFEAFD;
	font-size: 36px;
	width: 150px;
}

.upload:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

.choose {
	transform: scale(1.5);
}
/*end of photo page*/

/*back and next buttons*/
#navbutton {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	color: #BFEAFD;
	font-size: 30px;
	padding: 0px;
	transform: scale(0.7);
}

#navbutton:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

#basicnavbutton {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	color: #BFEAFD;
	font-size: 30px;
	width: 125px;
	padding: 0px;
	transform: scale(1.2);
}

#basicnavbutton:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

.back {
	margin-left: 60px;
	margin-top: 30px;*/
	text-align: center;
	width: 125px;
}

.basicback {
	/*margin-left: -80px;
	margin-top: -50px;*/
	text-align: center;
	margin-bottom: 100px;
	margin-left: -400px;
	margin-top: -20px;
}

.next {
	/*margin-top: -100px;
	display: inline-block;
	float: right;*/
	position:fixed;
	left: 1100px;
	width: 125px;

	/*bottom: -300px;*/
}

.basicnext {
	/*margin-top: -100px;
	display: inline-block;
	float: right;*/
	position:fixed;
	bottom: -200px;
	left: 1200px;
	/*bottom: -300px;*/
}

/*start of loading page*/

.findmybuddy {
	width: 300;
	left: 1050px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.loading-icon {
	width: 600px;
	animation: pulse 3s linear 0s infinite;
}

#emailcontainer {
	margin-top: 100px;
	margin-left: 50px;
	transform: scale(0.6);
}

#loadingcontainer {
	padding-top: 50px;
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

.loading-icon {
	width: 501px;
}

.message {
	font-size: 24px;
}

.one {
	color: #8FD9F7;
}

.two {
	color: #C0E8FB;
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.08); }
	100% { transform: scale(1); }
}

/*end of loading page*/
