body {
	font-family: 'PT Sans', sans-serif;
	background: linear-gradient(to bottom left, #00B1FF , #94DFFF);
	margin: 0;
	background-attachment: fixed;
	transform: scale(0.95);
	overflow: hidden;
}

/*Start of Landing Page*/

#landingcontainer {
	transform: translateY(20%);
}

#maintext {
	font-size: 136px;
	color:#FFFFFF;
}

#subtext {
	margin-top: -10px;
	font-size: 36px;
	color: #BFEAFD;
}

.icon {
	padding-top: 30px;
	text-align: center;
}

img {
	width: 265px;
}

.butt {
	margin-top: 30px;
	text-align: center;
}

#startbutton {
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	width: 225px;
	height: 101px;
	background-color: transparent;
}

#startbutton:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

#startbutton:active {
	opacity: 0.6;
}

.text {
	margin-top: -30px;
	text-align: center;
}

@keyframes fadein {
	from {background-color: transparent;
		   color:#FFFFFF;}
	to {background-color: #BFEAFD;
		color:#00B1FF;}
}

/*End of Landing Page*/

/*Start of Basic Info Page*/
#basiccontainer { 
	margin-top: -100px;
	margin-left: 50px;
	transform: scale(0.6);
}
.pagetitle { /*same for all pages w/ titles*/
	font-size: 36px;
	color:#BFEAFD;
}

.labels {
	margin-top: 20px;
	font-size: 64px;
	color: #FFFFFF;
}

.box {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 1091px;
	height: 90px;
	padding-left: 20px;
	font-size: 48px;
	color: #BFEAFD;
}

.majors {
	margin-top: 50px;
	margin-bottom: 80px;
}


textarea:focus, input:focus{
    outline: none;
}

.selectyear {
	display: inline-block;
	float: right;
	margin-right: 290px;
	margin-top: -80px;
	padding-bottom: 150px;
}

.options {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 650px;
	height: 90px;
	color: #BFEAFD;
	font-size: 48px;
	padding-left: 15px;
	list-style: none;
}



.photobuttons {
	display: inline-block;
	float:right;
	margin-right: 360px;
	margin-top: -85px;
}

#photos {
	display: inline-block;
}

.photoupload {
	margin-top: 80px
}

.upload {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	color: #BFEAFD;
	font-size: 36px;
	width: 150px;
}

.upload:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

.choose {
	transform: scale(1.5);
}

/*end of basic info page*/

/*start of food info page*/
#foodcontainer { 
	margin-top: -50px;
	margin-left: 50px;
	transform: scale(0.6);
}

.hobby {
	margin-top: 50px;
	margin-bottom: 60px;
}

.mood {
	padding-top: 50px;
}

.foodoptions {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	width: 500px;
	height: 90px;
	color: #BFEAFD;
	font-size: 48px;
	list-style: none;
	margin-left: 30px;
}

/*end of food info page*/

/*back and next buttons*/
.navbutton {
	background-color: transparent;
	border-color: #BFEAFD;
	border-width: 4px;
	border-radius: 28px;
	border-style: solid;
	color: #BFEAFD;
	font-size: 30px;
	width: 125px;
	transform: scale(0.8);
}

.navbutton:hover {
	cursor: pointer;
	animation: fadein 1s forwards;
}

.back {
	/*margin-left: -80px;
	margin-top: -50px;*/
}

.next {
	/*margin-top: -100px;
	display: inline-block;
	float: right;*/
	position:fixed;
	left: 1200px;
	bottom: 50px;
}




