<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="/"><input class="navbutton back" type="submit" value ="back"></a>
    <div id="basiccontainer">

      <div class="pagetitle">Let's start with some basic facts about you.</div>

      <div id="main">
        <form method="post" action="photo">

          <div class = "labels">
            <div class="names">
              <label for="name">My name is:</label>
              <br><input class="box" type="text" name="name"><br />
            </div>
            <div class="majors">
              <label class="majors" for="major">My major is:</label>
              <br><input class="box" type="text" name="major"><br />
            </div>
            <label class="years" for="year">My year is:</label>
          </div>

          <div class="selectyear">
            <select class="options" name=year method="GET" action="/basicinfo">
              <option value="Freshman" SELECTED>Freshman</option>
              <option value="Sophomore">Sophomore</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
              <option value="Senior">Super Senior</option>
            </select><br />
          </div>
        </form>

        <div class="photoupload">
        <label class="labels" id="photos" for="photo">Upload a photo:</label>
          <form method="post" enctype="multipart/form-data" action="/basicinfo">
            <div class="photobuttons">
              <p><input class="choose" type= file name=file>
              <input class="upload" type="submit" value =Upload></a>
            </div>
          </form>
        </div>

      </div>
    </div>
    <a href="foodinfo"><input class="navbutton next" type="submit" value="next"></a>
  </body>
</html>