<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="photo"><input id="navbutton" class="back" type="submit" value ="back"></a>
    <div id="photocontainer">
      <div class="preview">
        <div class="pagetitle">Photo Uploaded!</div>
        <div id="main">
            <img src="https://storage.googleapis.com/tomeeto-hackdavis.appspot.com/{{img_name}}">
          </form>
        </div>
      </div>
    </div>
    <a href="foodinfo"><input id="navbutton" class="next" type="submit" value="next"></a>
  </body>

  <!-- <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> -->
</html>
