<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="basicinfo"><input type="submit" value ="back"></a>
      <div class="pagetitle">
        <h1>What do you look like? Upload a photo.</h1>
      </div>
      <div id="main">
          <img src="https://storage.googleapis.com/tomeeto-hackdavis.appspot.com/{{img_name}}">
        </form>
      </div>
    </div>
    <a href="foodinfo"><input class="navbutton next" value="next"></a>
  </body>

  <!-- <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> -->
</html>
