<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="basicinfo"><input type="submit" value ="back"></a>
      <div class="pagetitle">
        <h1>What do you look like? Upload a photo.</h1>
      </div>
      <div id="main">
          <img src="https://storage.googleapis.com/tomeeto-hackdavis.appspot.com/{{img_name}}">
        </form>
      </div>
    </div>
  </body>
</html>
