<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="foodinfo"><input type="submit" id="navbutton" class="back" value ="back"></a>
    <div id="emailcontainer">
      <div class="pagetitle">
        Help your lunch buddy get in touch with you.
      </div>
      <div id="main">
        <form method="post" action="email">
          <br />
          <label class="labels" for="email">My email is:</label>
          <br /><br /><br />
          <input class="box" type="text" name="email"><br />
        </form>
      </div>
    </div>
    <a href="loading"><input type="submit" id="navbutton" class="next findmybuddy" value ="find my lunch buddy"></a>
  </body>
</html>
