<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="foodinfo"><input type="submit" value ="back"></a>
      <div class="pagetitle">
        <h1>Help your lunch buddy get in touch with you.</h1>
      </div>
      <div id="main">
        <form method="post" action="email">
          <label for="email">My email is:</label>
          <input type="text" name="email"><br />
        </form>
        <a href="loading"><input type="submit" value ="find my lunch buddy"></a>
      </div>
    </div>
  </body>
</html>
