<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="photo"><input type="submit" value ="back"></a>
      <div class="pagetitle">
        <h1>Give us some more details about what you like.</h1>
      </div>
      <div id="main">
        <form method="post" action="submitted">
          <label for="food">I'm in the mood for: </label>
          <select name=year method="GET" action="/basicinfo">
            <option value="American"SELECTED>American</option>
            <option value="Chinese">Chinese</option>
            <option value="Mexican">Mexican</option>
            <option value="Japanese">Japanese</option>
            <option value="Japanese">Thai</option>
            <option value="Senior">Other</option>
          </select><br />
          <label for="hobbies">My hobbies are: </label>
          <input type="text" name="hobbies"><br />
          <label for="interests">I like:</label>
          <input type="text" name="interests"><br />

        </form>
        <a href="email"><input type="submit" value="next"></a>
      </div>
    </div>
  </body>
</html>
