<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">		
	</head>
	<body>
		<div id="landing-content">
			<img class="icon" src="/img/cornhubicon.png"/>
			<div class="text">
				<div id="title">CornHub</div>
				<div id="subtext">Isolation...the final frontier</div>
			</div>
			<div id="login">Get Started</div>
		</div>
		<div id="about-content">
			
		</div>
	</body>
</html>