<html>
  <head>
    <title>Welcome to Tomeeto!</title>
   <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>
  <body>
    <div id="landingcontainer">
      <div id="main">
        <div class="icon">
          <img src="../img/cornhubicon.png"/>
        </div>

        <div class="text">
          <div id="maintext">ToMeeto</div>
          <div id="subtext">Isolation...the final frontier</div>
        </div>
        <div class="butt">
          <a href="basicinfo.html"><button id="startbutton">Get Started</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
