<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="email"><input id="navbutton" class="back" type="submit" value ="back"></a>
    <div id="loadingcontainer">
      <div id="main">
        <div class="message one">
          Searching for your lunch buddy...
        </div>
        <br />
        <img src="../static/cornhubicon.png" class="loading-icon" alt="logo" width = "500px">
        <br />
        <div class="message two">
          Hang tight! This might take a couple minutes.
        </div>
      </div>
    </div>
  </body>
</html>
