<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="email"><input type="submit" value ="back"></a>

      <div id="main">
        <div class="toptext">
          <h1>Searching for your lunch buddy.</h1>
        </div>
        <br />
        <img src="../static/cornhubicon.png" alt="logo" width = "500px">
        <br />
        <div class="bottomtext">
          <h1>Hang tight! This might take a couple minutes.</h1>
        </div>
      </div>
    </div>
  </body>
</html>
