<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="basicinfo"><input id="navbutton" class="back" type="submit" value ="back"></a>
    <div id="photocontainer">
      <!-- <a href="photo"><input type="submit" value ="re-upload"></a> -->
      <div class="pagetitle">What do you look like? Upload a photo.
      </div>
      <div id="main">
        <img src="{{file}}" alt="User Icon" width="200px"> <br />

        <!-- style image into a circle -->
      </div>
    </div>
     <a href="foodinfo"><input id="navbutton" class="next" type="submit" value="next"></a>
  </body>

  <!-- <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> -->
</html>
