<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="photo"><input type="submit" value ="re-upload"></a>
      <div class="pagetitle">
        <h1>What do you look like? Upload a photo.</h1>
      </div>
      <div id="main">
        <img src="{{file}}" alt="User Icon" width="200px"> <br />

        <!-- style image into a circle -->
        <a href="foodinfo"><input type="submit" value ="next"></a>
      </div>
    </div>
  </body>

  <!-- <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> -->
</html>
