<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <a href="basicinfo"><input type="submit" value ="back"></a>
      <div class="pagetitle">
        <h1>What do you look like? Uplod a photo.</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="name">My name is:</label>
          <input type="text" name="name"><br />
          <label for="major">My major is:</label>
          <input type="major" name="major"><br />
          <label for="year">My year is:</label>
          <select name=years method="GET" action="/basicinfo">
            {% for year in years %}
            <option value="{{year}}" SELECTED>{{year}}</option>
            {% endfor %}
          </select><br />
          <a href="photo"><input type="submit" value ="next"></a>
        </form>
      </div>
    </div>
  </body>
</html>
