<html>
  <head>
    <!-- <title>Basic Info</title> -->
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <a href="basicinfo"><input class="navbutton back" type="submit" value ="back"></a>
    <div id="container">
      <div class="pagetitle" id="pagetitle">What do you look like? Upload a photo.</div>
      <div id="main">
        <form method="post" action="photo">
        <img src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="User Icon" width="200px"> <br />

        <!-- style image into a circle -->
        <input type=file name=file>
        <a href= "email"><input type="submit" value=Upload></a>
        <!-- temporary path -->
      </div>
    </div>
  </body>

  <!-- <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script> -->
</html>
